{% extends "_templates/_template.njk" %}
{% set pageTitle = "ページタイトル" %}
{% set pageKeyword = "キーワード, キーワード" %}
{% set pageDescription = "ページディスクリプション" %}
{% block css %}
	<link rel="stylesheet" href="style.css">
{% endblock %}




{% block header %}
<header class="l-indexHeader">
	<h1 class="logo">indexHeader</h1>
</header>
{% endblock %}


{% block content %}



{% endblock %}
{% block js %}
<script src="script.js"></script>
{% endblock %}
