{% extends "_templates/_template.njk" %}
{% set pageTitle = "ページタイトル" %}
{% set pageKeyword = "キーワード, キーワード" %}
{% set pageDescription = "ページディスクリプション" %}
{% block css %}
	<link rel="stylesheet" href="vender.css">
	<link rel="stylesheet" href="vender2.css">
	<link rel="stylesheet" href="/top/style.css">
{% endblock %}




{% block header %}
<header>
	<h1>indexHeader</h1>
</header>
{% endblock %}


{% block content %}
<h2>テスト</h2>
<div class="">
	<img src="https://placehold.jp/150x150.png" width="150" height="150" alt="">
</div>

<button>button</button>
<input type="text">
<input type="radio">
<textarea name="" id="" cols="30" rows="10"></textarea>

{% endblock %}
{% block js %}
<script src="vender.js"></script>
<script src="vender2.js"></script>
{% endblock %}
