.u-clearfix:after,
.u-clearfix:before
	content ""
	display table

.u-clearfix:after
	clear both

.u-ellipsis
	overflow hidden
	max-width 100%
	padding .2rem 0
	white-space nowrap
	text-overflow ellipsis

for $i in (2...9)
	.u-lineClamp-{$i}
		display -webkit-box
		-webkit-line-clamp $i
		-webkit-box-orient vertical
		overflow hidden

for $i in (1...11)
	.u-mt-{$i * 5}
		margin-top ($i * .5rem)
	.u-mb-{$i * 5}
		margin-bottom ($i * .5rem)

for $i in (1...7)
	.u-pt-{$i * 5}
		padding-top ($i * .5rem)
	.u-pb-{$i * 5}
		padding-bottom ($i * .5rem)
