html {
	font-family: $font-base;
	font-size: 3.125vw;
	color: $color-black;
	word-break: break-all;
	word-wrap: break-word;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}
@include mq(xs) {
	html {
		font-size: 2.666666666666667vw;
	}
}
@include mq(sm) {
	html {
		font-size: 1.73611111111vw;
	}
}
@include mq(md) {
	html {
		font-size: 10px;
	}
}

body {
	position: relative;
	background-color: #fff;
}

img {
	vertical-align: top;
}

a {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	color: inherit;
}

em {
	font-style: normal;
}

select {
	appearance: none;
	border-radius: 0;
	box-shadow: none;
}

a,
button {
	transition-duration: .2s;
	&:hover {
		opacity: .8;
	}
}