%svg-common {
	background: url("../dest/for_css.svg") no-repeat;
}

.svg-ico-arrow {
	@extend %svg-common;
	background-position: 89.4851282881097% 69.71817767409433%;
}

.svg-ico-call {
	@extend %svg-common;
	background-position: 0 30.729974828454193%;
}

.svg-ico-camera {
	@extend %svg-common;
	background-position: 17.204301075268816% 99.76578947368422%;
}

.svg-ico-close-accordion {
	@extend %svg-common;
	background-position: 99.41797752808989% 0;
}

.svg-ico-crown {
	@extend %svg-common;
	background-position: 72.24563662201061% 40.27777777777778%;
}

.svg-ico-hat {
	@extend %svg-common;
	background-position: 99.41797752808989% 25%;
}

.svg-ico-hdr-star {
	@extend %svg-common;
	background-position: 0 76.20882352941177%;
}

.svg-ico-map {
	@extend %svg-common;
	background-position: 74.35249999999999% 0;
}

.svg-ico-open-accordion {
	@extend %svg-common;
	background-position: 99.41797752808989% 44.44444444444444%;
}

.svg-ico-recruit {
	@extend %svg-common;
	background-position: 75.28089887640449% 71.97500000000001%;
}

.svg-ico-search {
	@extend %svg-common;
	background-position: 27.586206896551722% 74.03142857142858%;
}

.svg-ico-soku {
	@extend %svg-common;
	background-position: 52.27272727272727% 72.98873239436621%;
}

.svg-ico-star {
	@extend %svg-common;
	background-position: 0 99.76578947368422%;
}

.svg-ico-train {
	@extend %svg-common;
	background-position: 39.21252032707856% 27.85%;
}

.svg-logo {
	@extend %svg-common;
	background-position: 0 0;
}

