.l-header {
	background: $white;
	padding: 1rem;
	.logo {
		margin-right: 2rem;
	}
	.news {
		padding: 0.5rem 1.5rem;
		background-color: $gray-100;
		font-size: 1.3rem;
	}
	.news-anchor {
		display: inline-block;
		text-align: justify;
		vertical-align: middle;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	.anchorGroup {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.anchorGroup-item {
		width: calc(100% / 4 - 1%);
		padding: 1rem 0;
		border: 1px solid $gray-400;
		text-align: center;
		font-size: 1.1rem;
		font-weight: bold;
	}
}

@include mq(xl) {
	.l-header {
		padding-right: 3rem;
		padding-left: 3rem;
		.headerInner {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.row {
			flex-grow: 1;
			display: flex;
			width: calc(100% - 12rem);
		}
		.news {
			max-width: calc(100% - 45rem);
		}
		.anchorGroup {
			width: 45rem;
			margin-left: auto;
			padding-left: 4rem;
		}
		.anchorGroup-item {
			&:nth-child(1),
			&:nth-child(2) {
				width: 12rem;
			}
			&:nth-child(3),
			&:nth-child(4) {
				width: auto;
				border: none;
				white-space: nowrap;
				&:hover {
					text-decoration: underline;
				}
			}
			&:nth-child(2) {
				margin-right: 3.2rem;
				margin-left: 3.2rem;
			}
			&:nth-child(3) {
				margin-left: auto;
			}
			&:nth-child(4) {
				margin-left: 3.2rem;
			}
		}
	}
}
